@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Yuyu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Yuyu&display=swap');

h1 {
  font-family: "Blaka Ink", system-ui;
}

h3 {
  font-family: "Google Sans Flex", sans-serif;
}

body {
  background-color : #9bc89b;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.header {
  background: #d5ffd5;
  padding-inline: 16px;
}

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-itens: center;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 18px;
}

